body {
  margin: 60px auto;
  max-width: 800px;
}

.wrapper {
  padding: 20px;
}

h1 {
  padding-left: 0.8rem;
  padding-bottom: 8px;
}

li {
  list-style-type: none;
  margin-left: -1rem;
  line-height: 25px;
  letter-spacing: 0.1px;
}
li strong {
  color: #f65282;
}
.form {
  margin: 0.8rem;
}

/* input for searching city */
.cityInput {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 20px;
}

/* button for search */
.citySearch:hover {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 8px;
  color: white;
}

.citySearch {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 8px;
  color: white;
}

.temperature {
  color: black;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-left: 10px;
}

.unit {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -20px;
}

.weather-forecast {
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
  text-align: center;
}

.today-info {
  margin-top: 70px;
}
.tempMax {
  font-weight: 800;
}
