body {
  margin: 0 auto !important;
  max-width: 950px;
  max-height: 250px;
  padding: 55px;
  letter-spacing: 0.1em;
  /* font-family: "Lobster Two", cursive; */
  font-family: "Shantell Sans", cursive !important;
  display: block;
  justify-content: flex-end;
}

.small-text {
  font-size: 10px;
  position: relative;
  top: -50px;
  padding-left: 20px;
}

form {
  padding-bottom: 30px;
}
